<h2>Практика</h2>
<br />
<p>Тук можете да се упражнявате на вече минали състезания.</p>
<br />
<% if !@contest_groups.blank? %>
    <%= will_paginate @contest_groups, :param_name => :contest_groups_page %>
    <table>
      <tr>
        <th>Група</th>
      </tr>
      <% @contest_groups.each do |contest_group| %>
          <tr>
            <td><%= link_to contest_group.name, contest_group_path(contest_group) %></td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @contest_groups, :param_name => :contest_groups_page %>
<% else %>
    В момента няма състезания, на които да можете да се упражнявате.
<% end %>